<nav class="navbar navbar-expand-lg navbar-light bg-dark  p-0 m-0" >

    <section class="align-self-right">
      <strong class="navbar-brand nav-link text-white " >  Wizard </strong>
    </section>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav navbar-brand  ml-auto">

        <li class="ml-3 nav-item align-self-center ">
          <a class="nav-link text-white" ><span style="font-size: 18px;cursor: pointer" class="fa fa-bell"></span></a>
        </li>

        <li class="ml-3 nav-item align-self-center ">
          <img class="profile-img" src="../../assets/1.jpeg">
        </li>

      </ul>
    </div>


</nav>




<!--<app-ads></app-ads>-->
<router-outlet ></router-outlet>
<!--<app-add-ad></app-add-ad>-->
