<div class="my-ads-container-page p-2 text-white">
  <strong class="word ">Archive Ads</strong>
  <br> <br>
  <div class=" ads-container justify-content-center ">

    <!--   all user ads-->

    <section class="ads " style="cursor: pointer" *ngFor="let ad of archiveAds">

      <section class="section-img" [style]="{'background-image': 'url('+ad.image+')'}" >
        <section class="details">
            <i class="fa fa-eye" style="font-size: large"></i>
            <span style="margin: 0px 3px">{{ad.number}}</span>
        </section>

      </section>
    </section>
    <!--   end user ads-->



  </div>
  <br>
<!--  -->
  <strong class="word ">Statistic</strong>

  <div class="statistic d-flex justify-content-between  p-5">
      <section class="stat-details d-flex flex-column" *ngFor="let s of statistic">
        <strong>{{s.name}}</strong>
        <small>{{s.number}}</small>
      </section>
  </div>

</div>
